* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-image: url(../img/paisaje.jpg) !important;
}

footer {
    text-align: center !important;
    border: 1px solid;
    background-color: #10ccf4;
}
footer p {
    color: black;
    margin: 10px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.buttons-container {
    gap: 0.5rem;
    display: flex !important;
    flex-direction: column;
}

.card {
    width: 450px;
    padding: 20px;
    display: flex;
}

button a {
    text-decoration: none;
    color: black;
}

